{% extends "bootstrap/base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Song recommendation system</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="file:///C:/Users/himsu/OneDrive/Desktop/popularsongs.html">popular songs</a></li>
            <li><a href="">Songs</a></li>
    
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="C:\Users\himsu\PycharmProjects\song\eminem-kamikaze-review1.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Eminem's</h4>
              <span class="text-muted">Top Songs</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="C:\Users\himsu\PycharmProjects\song\Download" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Taylor's</h4>
              <span class="text-muted">Top Songs</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="C:\Users\himsu\PycharmProjects\song\Download(1)" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Mashmello</h4>
              <span class="text-muted">Top Songs</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="C:\Users\himsu\PycharmProjects\song\fa20dac4" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Imagine Dragons</h4>
              <span class="text-muted">Top Songs</span>
            </div>
          </div>

          <h2 class="sub-header">top songs</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Song Name</th>
                  <th>Singer</th>
                  <th>type</th>
                  <th>Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="https://www.youtube.com/watch?v=Pkh8UtuejGw">Senorita</a></td>
                  <td>Shawn Mendes</td>
                   <td>pop</td>
                  <td>3:25</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="https://www.youtube.com/watch?v=dhYOPzcsbGM">On My Way</a></td>
                  <td>Alan Walker</td>
                   <td>EDM</td>
                  <td>3:00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="https://www.youtube.com/watch?v=Fp_P_e1cPOE">Shameless</a></td>
                  <td>Camila Cabello</td>
                   <td>pop</td>
                  <td>3:20</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><a href="https://www.youtube.com/watch?v=-BjZmE2gtdo">Lover</a></td>
                  <td>Taylor Swift</td>
                  <td>Sweet</td>
                  <td>4:20</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><a href="https://www.youtube.com/watch?v=ixkoVwKQaJg">Taki Taki</a></td>
                  <td>DJ Snake</td>
                   <td>Rock</td>
                  <td>5:32</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><a href="https://www.youtube.com/watch?v=WCTjFHyvEaM">Bad Boy</a></td>
                  <td>Tungevaag</td>
                 <td>EDM</td>s
                  <td>3:55</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><a href="https://www.youtube.com/watch?v=y2tEPmwWEiI">Sugar & Brownies</a></td>
                  <td>Dharia</td>
                  <td>RAP</td>
                  <td>2:20</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><a href="https://www.youtube.com/watch?v=y83x7MgzWOA">I Don't Care</a></td>
                  <td>Ed Sheeran</td>
                  <td>pop</td>
                  <td>3:12</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><a href="https://www.youtube.com/watch?v=w2Ov5jzm3j8">Old Town Road</a></td>
                  <td>Lil Nas X</td>
                  <td>rock</td>
                  <td>2:56</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><a href="https://www.youtube.com/watch?v=aJOTlE1K90k">Girls Like You</a></td>
                  <td>Maroon 5</td>
                  <td>pop</td>
                  <td>4:24</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}